.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: #ffffff;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.IconContainer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav li:first-child{
  color: red;
}

.Bar{
  border-top: 1px solid #a4a4a4;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 15px;
}

nav li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}


.Ads{
  width: 100%;
  min-height: 80%;
  background-color: E7E8E9;
}


footer{
  background-color: #404040;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
